body {
	margin: auto;
	background-color: #ccc;
}

header {
	background-color: #fff;
	width: 100%;
	float: left;
}

nav {
	float:right;
}

h1 {
	color:#fff;
	background-color:#4aaaa5;
	padding:30px;
	width:300px;
}

h2, h3 {
	color: #4aaaa5;
}