body {
	margin: auto;
	background-color: #ccc;
}

header {
	background-color: #fff;
	width: 100%;
	float: left;
}

.nav {
	float:right;
}

#sitetitle{
	background-color:#4aaaa5;
	padding:30px;
	width:200px;
	z-index: 2000;

}

h1 {
	color:#fff;
}

h2, h3 {
	color: #4aaaa5;
}